.bbcode-editor-text-area {
  textarea {
    min-height: 150px;
  }
}

.bbcode-toolbar {
  align-items: flex-start;
  flex-wrap: nowrap;
  @media (max-width: breakpoint-max(xs)) {
    background: $text-background-color;
    padding: 10px;
    position: absolute;
    top: 0;
    border-radius: 3px;
    z-index: 20;
    display: none;
    .btn {
      margin: 3px;
      border-radius: $btn-border-radius !important;
    }
  }
  @media (min-width: breakpoint-min(sm)) {
    .close {
      display: none;
    }
    .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: $input-border-width solid $input-border-color;
      border-bottom: 0;
    }
  }
}

.bbcode-btn {
  @media (min-width: breakpoint-min(sm)) {
    display: none;
  }
}