// BBcode colors
$red-color: #f00 !default;
$green-color: #0f0 !default;
$blue-color: #00f !default;
$yellow-color: #ff0 !default;
$cyan-color: #0ff !default;
$purple-color: #93f !default;
$white-color: #fff !default;
$black-color: #000 !default;
$brown-color: #8a6d3b !default;
$pink-color: #f9c !default;
$gray-color: #ccc !default;
$orange-color: #f60 !default;
$collapse-header-bg: $card-bg !default;
$collapse-border: darken($card-border-color, 25%) !default;
$text-dark: $text-muted !default;

// Character page quick kink comparison
$quick-compare-active-border: $black-color !default;
$quick-compare-favorite-bg: theme-color-level("info", -6) !default;
$quick-compare-yes-bg: theme-color-level("success", -6) !default;
$quick-compare-maybe-bg: theme-color-level("warning", -6) !default;
$quick-compare-no-bg: theme-color-level("danger", -6) !default;

// character page badges
$character-badge-bg: darken($card-bg, 10%) !default;
$character-badge-border: darken($card-border-color, 10%) !default;
$character-badge-subscriber-bg: theme-color-bg("info") !default;
$character-badge-subscriber-border: theme-color-border("info") !default;

// Character editor
$character-list-selected-border: $success !default;
$character-image-selected-border: $success !default;

// Notes conversation view
$note-conversation-you-bg: theme-color-bg("info") !default;
$note-conversation-you-text: theme-color-level("info", 6) !default;
$note-conversation-you-border: theme-color-border("info") !default;
$note-conversation-them-bg: $card-bg !default;
$note-conversation-them-text: $body-color !default;
$note-conversation-them-border: $card-border-color !default;

$nav-link-hover-color: $link-color !default;

// General color extensions missing from bootstrap
$text-background-color: $body-bg !default;
$text-background-color-disabled: $gray-800 !default;

.nav-link.disabled {
  cursor: default;
}

.custom-select:hover {
  text-decoration: none;
  cursor: default;
}

select {
  @extend .custom-select;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a.btn {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}