// Base colors, used for pretty much everything.
// On dark based themes these are inverted in order to cooperate with bootstrap which assumes that all themes are light based.
$gray-base: #080810;
$white: $gray-base;
$gray-100: lighten($gray-base, 10%);
$gray-200: lighten($gray-base, 20%);
$gray-300: lighten($gray-base, 30%);
$gray-400: lighten($gray-base, 40%);
$gray-500: lighten($gray-base, 50%);
$gray-600: lighten($gray-base, 60%);
$gray-700: lighten($gray-base, 70%);
$gray-800: lighten($gray-base, 80%);
$gray-900: lighten($gray-base, 90%);
$black: #fff;

// Theme and brand colors
$primary: #0447af;
$secondary: $gray-400;
$success: darken(#009900, 5%);
$info: #0447af;
$warning: #f29c00;
$danger: #930300;
$light: $gray-200;
$text-muted: $gray-500;
$text-dark: $gray-600;
$component-active-color: $gray-900;

// Core page element colors
$body-bg: $gray-100;
$link-color: $gray-800;
$link-hover-color: lighten($link-color, 15%);
$dropdown-bg: $gray-200;

// Modal Dialogs
$modal-backdrop-bg: $white;
$modal-content-bg: $gray-100;
$modal-header-border-color: $gray-300;

// Fix YIQ(automatic text contrast) preferring black over white on dark themes.
$yiq-text-light: $gray-800;

// Reduce default padding slightly between columns in grids.
$grid-gutter-width: 20px;

// Form Elements
$input-bg: $gray-200;
$input-color: $black;
$custom-select-bg: $gray-200;

// List groups
$list-group-bg: $gray-200;

// Pagination
$pagination-active-color: $link-color;

// F-List specific color helpers to help make monochromatic themes easier to deal with.
$text-background-color: $gray-200;
$text-background-color-disabled: $gray-100;

@import "invert";