@function lighten($color, $amount) {
  @return hsla(hue($color), saturation($color), lightness($color) - $amount, alpha($color));
}

@function darken($color, $amount) {
  @return hsla(hue($color), saturation($color), lightness($color) + $amount, alpha($color));
}

@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level < 0, #000, #fff);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}

// Alert color levels
$alert-border-level: 4;
$theme-is-dark: true;