$warning:  #e09d3e;
$gray-100: #e5e5e5 !default;
$gray-200: #cccccc !default;
$gray-300: #b2b2b2 !default;
$gray-400: #999999 !default;
$gray-500: #7f7f7f !default;
$gray-600: #666666 !default;
$gray-700: #4c4c4c !default;
$gray-800: #333333 !default;
$gray-900: #191919 !default;
$secondary: $gray-400;

$body-bg: $gray-100;
$text-muted: $gray-500;