@import "~bootstrap/scss/functions";
@import "../../functions";
@import "../variables/dark_variables";
@import "~bootstrap/scss/variables";
@import "../../flist_derived";
@import "../variables/dark_derived";

// Apply variables to theme.
@import "../chat";

* {
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px $card-border-color;
        border-radius: 10px;
    }

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8);
        background-color: $gray-300;
        &:hover {
            background-color: $gray-500;
        }

        &:active {
            background-color: $gray-700;
        }
    }
}